body {
    text-align: center;
}

.btn {
    font-size: 100px;
    font-weight: 1000;
    line-height: 200px; /* align text cinter vertically*/
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
background-color: #d95980;
}

.purple {
    background-color:#819ff9 ; 
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: whitesmoke;
}

.userflash {
    background-color: greenyellow;
}